Package: online.transrights.glow
Name: Glowie
Version: 0.6.9
Architecture: iphoneos-arm
Description: Change your iOS label colors with Glowie!
Maintainer: Kota
Author: Kota & Snoolie & Mineek
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.alderis (>= 1.1)
