<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>online.transrights.glow</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
        	<string>The Best Label Customization Tweak!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>height</key>
			<string>133</string>
			<key>label</key>
			<string></string>
			<key>icon</key>
			<string>GlowieImage.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Text Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>enabled</key>
			<true/>
			<key>label</key>
			<string>Label Text Color</string>
			<key>subtitle</key>
			<string>Override normal color. Tap cell to set color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>online.transrights.glow</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>colorOneString</string>
			<key>label</key>
			<string>Text Color Selector</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>online.transrights.glow/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Border Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>enabled</key>
			<true/>
			<key>label</key>
			<string>Border Color</string>
			<key>subtitle</key>
			<string>Override normal color. Tap cell to set color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>online.transrights.glow</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>colorTwoString</string>
			<key>label</key>
			<string>Border Color Selector</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>online.transrights.glow/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>enabled</key>
			<true/>
			<key>label</key>
			<string>Background Color</string>
			<key>subtitle</key>
			<string>Override normal color. Tap cell to set color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>online.transrights.glow</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>backgroundColor</string>
			<key>label</key>
			<string>Background Color Selector</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>online.transrights.glow/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>enabled</key>
			<true/>
			<key>label</key>
			<string>Glow Color</string>
			<key>subtitle</key>
			<string>Override normal color. Tap cell to set color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>online.transrights.glow</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>shadowColor</string>
			<key>label</key>
			<string>Glow Color Selector</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>online.transrights.glow/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Border Corner Radius Settings</string>
		</dict>
		<dict>
			<key>cell</key>
            <string>PSSliderCell</string>
            <key>cellClass</key>
			<string>GLOWLabeledSliderCell</string>
			<key>defaults</key>
			<string>online.transrights.glow</string>
			<key>key</key>
			<string>cornerRadius</string>
			<key>default</key>
			<string>5</string>
			<key>min</key>
			<string>1</string>
			<key>max</key>
			<string>10</string>
			<key>isSegmented</key>
			<true/>
			<key>label</key>								<!-- The label will be used for the label above the slider -->
			<string>Corner Radius</string>
			<key>cornerRadius</key>		<!-- Optional key used for localization -->
			<string>Root</string>
			<key>PostNotification</key>
			<string>online.transrights.glow/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Border Width Settings</string>
		</dict>
		<dict>
			<key>cell</key>
            <string>PSSliderCell</string>
            <key>cellClass</key>
			<string>GLOWLabeledSliderCell</string>
			<key>defaults</key>
			<string>online.transrights.glow</string>
			<key>key</key>
			<string>borderWidth</string>
			<key>default</key>
			<string>4</string>
			<key>min</key>
			<string>1</string>
			<key>max</key>
			<string>8</string>
			<key>isSegmented</key>
			<true/>
			<key>label</key>								<!-- The label will be used for the label above the slider -->
			<string>Border Width</string>
			<key>borderWidth</key>		<!-- Optional key used for localization -->
			<string>Root</string>
			<key>PostNotification</key>
			<string>online.transrights.glow/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Glow Radius Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>GLOWLabeledSliderCell</string>
			<key>defaults</key>
			<string>online.transrights.glow</string>
			<key>key</key>
			<string>shadowRadius</string>
			<key>default</key>
			<string>4</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>8</string>
			<key>isSegmented</key>
			<true/>
			<key>label</key>								<!-- The label will be used for the label above the slider -->
			<string>Shadow Radius</string>
			<key>shadowRadius</key>		<!-- Optional key used for localization -->
			<string>Root</string>
			<key>PostNotification</key>
			<string>online.transrights.glow/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Kota's GitHub</string>
			<key>icon</key>
			<string>github@2x.png</string>
			<key>action</key>
			<string>openGithubKota</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Snoolie's GitHub</string>
			<key>icon</key>
			<string>github@2x.png</string>
			<key>action</key>
			<string>openGithubSnoolie</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Mineek's Github</string>
			<key>icon</key>
			<string>github@2x.png</string>
			<key>action</key>
			<string>openGitHubMineek</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Buy Badger!</string>
			<key>icon</key>
			<string>badger@2x.png</string>
			<key>action</key>
			<string>buyBadger</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Join Kota's Discord! (Support)</string>
			<key>icon</key>
			<string>discord@2x.png</string>
			<key>action</key>
			<string>transDiscord</string>
		</dict>
	</array>
	<key>title</key>
	<string>Glowie</string>
</dict>
</plist>
