<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>online.transrights.glowprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
        		<string>Label Background Color Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
            		<string>PSSliderCell</string>
            		<key>default</key>
            		<real>100</real>
            		<key>defaults</key>
            		<string>online.transrights.glowprefs</string>
            		<key>max</key>
            		<real>100</real>
            		<key>min</key>
            		<real>1</real>
            		<key>id</key>
            		<string>backgroundColorTransparency</string>
            		<key>key</key>
            		<string>backgroundColorTransparency</string>
            		<key>showValue</key>
            		<true/>
            		<key>isSegmented</key>
            		<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>online.transrights.glowprefs</string>
			<key>label</key>
			<string>Fill Color</string>
			<key>subtitle</key>
			<string>Override normal color. Swipe cell to set color</string>
			<key>key</key>
			<string>overrideColor</string>
			<key>id</key>
			<string>overrideColor</string>
			<key>height</key>
			<string>85</string>
			<key>PostNotification</key>
			<string>online.transrights.glowprefs/preferences.changed</string>
			<key>cell</key>
            		<string>PSSliderCell</string>
            		<key>default</key>
            		<real>100</real>
            		<key>defaults</key>
            		<string>online.transrights.glowprefs</string>
            		<key>max</key>
            		<real>100</real>
            		<key>min</key>
            		<real>1</real>
            		<key>id</key>
            		<string>backgroundColorTransparency</string>
            		<key>key</key>
            		<string>backgroundColorTransparency</string>
            		<key>showValue</key>
                    	<true/>
            		<key>isSegmented</key>
                    	<false/>
            		<key>label</key>
            		<string>Label Background Color Opacity</string>
		</dict>
	</array>
	<key>title</key>
	<string>Glowie :3</string>
</dict>
</plist>
